# Dependencies
/node_modules
/Frontend/node_modules
/Backend/node_modules

# Production
/build
/dist

# Env files
.env
.env*.local
/Backend/.env

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Other
.DS_Store
cookies.txt
git_commands.txt
